<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a routerLink="home">Show Home</a>
      <button class="btn btn-primary" type="button" (click)="printUserData()">Get User Data</button>
      <a routerLink="test/1">Start page</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
